table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
}

tr, h2, h3 {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}

tr.green td {
    background-color: springgreen;
}

tr.red td {
    background-color: crimson;
}